# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
.vscode
bin

#on ne partage pas notre partie sauvegardée et notre dictionnaire
/app/partie.json
/app/dictionnaire.json